body{
  width: 100%;
  height: 100%;
}

.alarmOn{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: blink 1s step-end infinite;
}

/* for Chrome, Safari */
@-webkit-keyframes blink {
  0% {background-color: red;}
  50% {background-color: white;}
}
@keyframes blink {
  0% {background-color: red;}
  50% {background-color: white;}
}